body{
	background-color: #00aeef;
	font-family: Georgia;
	margin: 0;
	padding: 0;
}

header{
	height: 400px;
	margin: 0px auto 0;
	text-align: center;
	margin: 20px auto;
	box-sizing: border-box;
}

header img{
	height: 300px;
}

h2{
	color: white;
}

h3{
	color: white;
}

p{
	color: white;
}

a{
	color: red;
}

ul{
	color: red;
}